jsconfig.json
.editorconfig
.phpcs.xml
.phpstan.neon
smliser_var.js
vendor/php-stubs
vendor/autoload.php
vendor/symfony*
vendor/friendsofphp/
vendor/bin/*
vendor/psr*
vendor/react*
vendor/fidry*
vendor/nikic*
vendor/rector*
vendor/clue*
vendor/psr*
vendor/sebastian*
vendor/dflydev*
vendor/ergebnis*
vendor/evenement*
vendor*
