.smliser-auth-body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}

.smliser-auth-content {
    background-color: #ffffff;
    border: #0000ff solid;
    border-radius: 9px;
    display: block;
    min-height: 550px;
    margin: 20px auto;
    max-width: 750px;

}

.smliser-auth-content .smliser-auth-img img {
    background-color: #f1f1f1;
    max-width: 50%;
    margin: 20px 0 5px 25%;
}

.smliser-auth-content h2 {
    font-size: 18px;
    padding: 10px;
}

.smliser-auth-content p {
    font-size: 14px;
    padding: 10px;
}

.smliser-auth-content ul li {
    font-size: 14px;
    padding: 10px;
    list-style-type: circle;
}

.smliser-auth-avater {
    display: flex;
    background-color: #f1f1f1;
    width: 90%;
    margin: 20px auto;
}

.smliser-auth-avater p a {
    margin-left: 20px;
    font-weight: bold;

}

.smliser-auth-consent_btn-container {
    display: flex;
    justify-content: space-between;
    margin: 40px 10px 20px 10px;

    height: 80px;
}

.smliser-auth-consent_btn-container .smliser-auth-consent_btn {
    color: #ffffff;
    border-radius: 8px;
    font-weight: bold;
    width: 40%;
}

.smliser-oauth-login-form {
    background-color: #f1f1f1;
    border-radius: 9px;
    padding: 20px;
    margin: 50px auto;
    height: 300px;
    width: 90%;
}

.smliser-form-row {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 15px 0 20px;

}

.smliser-oauth-form-label {
    font-size: 16px;
    font-weight: bold;

}

.smliser-login-input {

    width: 100%;
    border-color: blue;
    background-color: #ffffff;
    border-radius: 9px;
    margin: 20px 0 0 5px;
    height: 40px;

}

.smliser-submit-btn-container {
    text-align: center;
    margin-top: 10px;



}

.smliser-submit-btn-container button {
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    font-family: aloe;
    border: #ffffff;
    background-color: #0000ff;
    border-radius: 8px;
    height: 40px;
    width: 80%;

}

.smliser-auth-footer p {
    text-align: center;
    font-weight: bold;
    margin-top: 40px;
}