.smliser-auth-body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}
.smliser-auth-content {
    background-color: #ffffff;
    border: #0000ff solid;
    border-radius: 9px;
    display: block;
    min-height: 550px;
    margin: 20px auto;
    max-width: 750px;
    
}
.smliser-auth-content .smliser-auth-img img{
    background-color: #f1f1f1;
    max-width: 50%;
    margin: 20px 0 5px 25%; 
}

.smliser-auth-content h2{
    font-size: 18px;
    padding: 10px;
}

.smliser-auth-content p{
    font-size: 14px;
    padding: 10px;
}

.smliser-auth-content ul li{
    font-size: 14px;
    padding: 10px;
    list-style-type: circle;
}

.smliser-auth-avater {
    display: flex;
    background-color: #f1f1f1;
    width: 90%;
    margin: 20px auto;
}

.smliser-auth-avater p a{
    margin-left: 20px;
    font-weight: bold;
    
}

.smliser-auth-consent_btn-container {
    display: flex;
    justify-content: space-between;
    margin: 40px 10px 20px 10px;
    
    height: 80px;
}

.smliser-auth-consent_btn-container .smliser-auth-consent_btn {
    color: #ffffff;
    border-radius: 8px;
    font-weight: bold;
    width: 40%;
}