/* Full-page spinner overlay */
.spinner-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.692);
    z-index: 9999;
    text-align: center;
}

/* Show spinner overlay */
.spinner-overlay.show {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

/* Spinner image styling */
.spinner-img {
    width: 50px; /* Adjust the width of the spinner image */
    height: 50px;
}

/*License CSS**/
.smliser-tooltip {
    cursor: help;
}
.smliser-key-div .smliser-partially-hidden-license-key-container{
    margin-bottom: 10px;
    font-weight: bold;
    background-color: #c5ffc09f;
    color: #0716f567;
    margin-left: .5px;
    border-radius: 4px;
    
}

.smliser-visible-license-key {
    margin-bottom: 10px;
    display: none;
}

.smliser-visible-license-key input[type="text"] {
    font-size: 10px;
    font-weight: bold;
    border: 1px solid #070000;
    background-color: rgb(238, 233, 232);
    color: rgb(3, 3, 0);
    border-radius: 9px;
    width: 200px;
    margin: 10px auto;
}


/* Table Styles */
.smliser-table-wrapper {
    overflow-x: auto;
}

.smliser-table {
    width: 90%;
    border-collapse: collapse;
	border-radius: 9px;
	margin: 20px auto;
    background-color: #fff;
	box-shadow: 0 10px 10px rgba(3, 1, 2, 0.2);
    overflow: hidden;
}

.smliser-table th, .smliser-table td {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #dddddd;
}

.smliser-table th {
    background-color: #4928be;
    color: #15ff00;
	font-weight: bold;
    height: 35px;
    padding: 35px;
}

.smliser-table:hover {
    background-color: #ffffff;
	box-shadow: none;

}

.smliser-table-count {
	text-align: right;
	font-weight: bold;
	margin-top: 10px;
    margin-right: 30px;
}

/* Responsive Styles for mobile devices */
@media only screen and (min-width: 320px) and (max-width: 720px) {

    .smliser-table {
        width: 90%;
        max-width: 100%; /* Adjusted to take full width on small screens */
        box-shadow: 0 10px 10px rgba(3, 1, 2, 0.2);
        overflow-x: auto; /* Added to enable horizontal scrolling if needed */
    }

    .smliser-table thead,
    .smliser-table tbody,
    .smliser-table th,
    .smliser-table td,
    .smliser-table tr {
        display: block;
    }

    .smliser-table tbody tr {
        margin-bottom: 10px;
        border: 1px solid #ddd;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .smliser-table tbody td {
        text-align: left;
        padding: 15px;
        border-bottom: 1px solid #ddd;
        width: 100%; /* Make the cells take full width */
    }
}

/* Ensure the edit link is hidden by default */
.smliser-edit-row .smliser-edit-link {
    display: none;
}

/* Show the edit link when hovering over the table cell */
.smliser-edit-row:hover .smliser-edit-link {
    display: block;
    animation: fadeIn 2s;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  

/* .smliser-edit-row p {
    display: none;
}

.smliser-edit-row:hover p {
    display: block;
    
} */
.smliser-edit-row:hover p a {
    text-decoration: none;    
}

.smliser-actions-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.smliser-bulk-actions {
    display: flex;
    align-items: center;
}

.smliser-search-box {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.smliser-search-input {
    padding: 5px;
    margin-right: 30px;
}

.smliser-bulk-action-button{
    margin-right: 10px auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

.smliser-nav-btn {
    display: inline-flex !important;
    line-height: 2 !important;
    justify-content: center;
    align-items: center;
    margin: 10px 5px;
    padding: 5px 10px;
    border-radius: 5px;
}

.smliser-bulk-action-select {
    margin-right: 10px;    
}


/********************** Data Not Found Container ***************/
.smliser-not-found-container {
    
    margin: 20px auto;
    background-color: #fff;
    border-radius: 9px;
    box-shadow:  0 10px 10px rgba(3, 1, 2, 0.2);
    height: 200px;
    width: 400px;
}
.smliser-not-found-container p {
    text-align: center;
    font-weight: bold;
    padding: 60px;
    width: 50%;
    margin: 10px auto;
}

/*************************** Admin view page ******************/
.smliser-admin-dashboard-header {
    display: flex;
    justify-content: space-evenly;
}

.smliser-admin-dashboard-header-child {
    border-radius: 9px;
    background-color: #fff;
    min-height: 100px;
    min-width: 250px;
    margin: 20px auto;
    padding: 5px;
    font-family: Aloe;
}
.smliser-admin-dashboard-header-child h2 {
    text-align: center;
    color:#4928be
}

.smliser-admin-dashboard-header-child p {
    font-size: 14px;
    padding-left: 10px;
    color: #000000;
    font-weight: bold;
}

.smliser-admin-dashboard-header-child a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.smliser-admin-dashboard-header-child p:hover,
.smliser-admin-dashboard-header-child a:hover {
    color: #ff0000;
    
}

@media only screen and ( min-width: 1px ) and ( max-width: 569px ) {
    .smliser-admin-dashboard-header{
        flex-wrap: wrap;
        margin-right: 15px;
        
    }
    .smliser-admin-dashboard-header-child {
        width: 90%;
    }
}

@media only screen and ( min-width: 570px ) and ( max-width: 780px ) {
   .smliser-admin-dashboard-header{
        flex-wrap: wrap;
        
    }

    .smliser-admin-dashboard-header-child {
        margin-left: 20px;
    }
}

@media only screen and ( min-width: 780px ) and ( max-width: 1240px ) {
    .smliser-admin-dashboard-header{
        flex-wrap: wrap;
        
    }

    .smliser-admin-dashboard-header-child {
        /* width: 150px; */
        margin-left: 20px;
    }
}

.smliser-admin-dashboard-subheader {
    display: flex;
    justify-content: space-evenly;
    border: solid #d3d0d6;
    border-radius: 9px;
    box-shadow: 5px 10px 10px rgba(3, 1, 2, 0.2);
    background-color: #fff;
    height: 90px;
}
.smliser-admin-dashboard-subheader-items {
    text-align: center;
    text-justify: inter-ideograph;
    color: #000000;
    font-weight: bold;
    margin: 20px auto;
    border-radius: 3px;
    background-color: #d3d0d6;
    height: 40px;
    width: 150px;
}



.smliser-admin-dashboard-body {
    background-color: #fff;
    border-radius: 9px;
    width: 80%;
    margin: 20px auto;
    min-height: 90px;
}
.smliser-admin-dashboard-body h3 {
    text-align: center;
    font-weight: bold;
    color: #4928be;
    padding: 10px;

}
.smliser-admin-dashboard-body-item p {
    display: inline-block;
    font-weight: bold;
    margin-left: 10px;
    
}
.smliser-admin-view-page-header {
    display: flex;
    justify-content: space-evenly;
}

.smliser-admin-view-page-header-child {
    border-radius: 9px;
    background-color: #fff;
    min-height: 100px;
    min-width: 350px;
    margin: 20px auto;
    padding: 5px;
    font-family: Aloe;
}
.smliser-admin-view-page-header-child h2 {
    text-align: center;
    color:#4928be
}
.smliser-admin-view-page-header-child p {
    font-size: 14px;
    padding-left: 10px;
    color: #000000;
    font-weight: bold;
}
.smliser-admin-view-page-header-child a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.smliser-admin-view-page-header-child p:hover,
.smliser-admin-view-page-header-child a:hover {
    color: #ff0000;
    
}

.smliser-admin-view-page-body {
    background-color: #fff;
    border-radius: 9px;
    margin: 20px auto;
    padding: 12px;
    width: 90%;
    min-height: 250px;
}
.smliser-admin-view-page-body-item {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 5px;
    
}

.smliser-admin-view-page-body-item div,
.smliser-admin-view-page-body-item p,
.smliser-admin-view-page-body-item a {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    color: #000;
    margin: 10px 45px 10px 5px;
    padding-left: 5px;
    width: 80%;
}
.smliser-admin-view-page-body-item a {
    text-decoration: none;
    color: #896eeb;
}
.smliser-admin-view-page-body-item p:hover,
.smliser-admin-view-page-body-item a:hover {
    color: #ff0000;

}
@media only screen and (min-width: 320px) and (max-width: 425px) {
    .smliser-admin-view-page-wrapper{
        flex-wrap: wrap;
    }
    .smliser-admin-view-page-header {
       flex-wrap: wrap;
    }
    .smliser-admin-view-page-body {
        width: 90%;
    }
    .smliser-admin-view-page-body-item {
        width: 100%;

    }
}

.smliser-div-link {
    text-decoration: none;
}

